<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div>
        <h1 style="display: inline-block">GO UNI.MK</h1>
        <img src="logo.jpg" style="width: 100px;width: 100px;border-radius: 50px;margin-top: 2px;position: absolute;left: 331px">
    </div>
    <nav>
        <!--       Meni       -->

        <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="aboutUs">ABOUT US</a></li>
            <li><a href="cities">FACULTIES</a></li>
        </ul>
    </nav>
</header>
<div>
<div style="width: 394px;height: 193px;border-radius: 200px;background-color: lightskyblue;position: absolute;left: 100px;top: 150px">
    <p style="width:266px;font-size:30px;position:relative;left: 71px">We are here to help you find the faculty you are looking for</p>
</div>
<div style="width: 345px;height: 164px;border-radius: 200px;background-color: lightgrey;position: absolute;left: 240px;top: 324px">
    <p style="width:266px;font-size:30px;position:relative;left: 45px">Here you can find all the faculties in North Macedonia</p>
</div>
<div style="width: 317px;height: 171px;border-radius: 200px;background-color: orange;position: absolute;left: 105px;top: 460px">
    <p style="width:276px;font-size:30px;position:relative;left: 32px;top:4px">Here you can find all the faculties in North Macedonia</p>
</div>
<img src="sea.jpg" style="width: 735px;height: 590px;position: absolute;left: 753px;top: 118px;">
</div>
</body>
</html>