<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City-view faculties</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="style.css">
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
</head>
<body>
<body>
<header>
    <div>
        <h1 style="display: inline-block">GO UNI.MK</h1>
        <img src="logo.jpg"
             style="width: 100px;width: 100px;border-radius: 50px;margin-top: 2px;position: absolute;left: 331px">
    </div>
    <nav>

        <!--       Meni       -->

        <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="aboutUs">ABOUT US</a></li>
            <li><a href="cities">FACULTIES</a></li>
        </ul>
    </nav>
</header>
<div style="position: absolute;left: 36px;top: 110px;background-color: lightblue;height: 38px;width: 68px;border-radius: 10px">
    <a href="/cities" style="font-size: 21px;position: relative;left: 7px;top: 7px;">Cities</a>
</div>





<div class="whole" style="position: absolute;
    top: 102px;
    width: 293px;
    height: 179px;">


    <div class="display">

        <!--       Prikazuvanje ime na fakultet       -->

        <div class="ha2" style="position: relative;text-align:center;top: 14px"><h2><th:block th:text="${faculty.getName()} + ' - ' + ${faculty.getCity().getCity()}"></th:block></h2></div>

    </div>

</div>

<!--       Prikazhuvanje slika na fakultet       -->

<div class="faculty-image">

    <img th:src="@{${imgPath}}" style="margin-top: 5em;top: 350px;
    left: 24px;
    height:274px;
    width: 350px;
    position: absolute;">
</div>
<div class="gradovi">

</div>
<div class="phoneMaps">
    <img src="317744547_427619749433970_7951690720203774383_n-removebg-preview.png" style="position: absolute;top: 240px;">
</div>

<div id ="map" style="width:425px; height:425px; display: inline-block;top: 198px;
    right: 100px;position:absolute;"></div>

<script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script th:inline="javascript">
    // Code for displaying the map of each faculty using Leaflet.js
    // Creating map options - setting the latitude and longitude coordinates of the faculty building
    var lat = [[${faculty.getLatitude()}]];
    var lon = [[${faculty.getLongitude()}]];

    var mapOptions = {
        center: [lat, lon],
        zoom: 16
    }

    // Creating a map object
    var map = new L.map('map', mapOptions);

    // Creating a Layer object
    var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

        // Adding layer to the map
    map.addLayer(layer);
    L.marker([lat, lon]).addTo(map)
        .bindPopup('<p>' + [[${faculty.getName()}]] + '</p>' + '<p style="text-align: center">' + [[${faculty.getCity().getCity()}]] + '</p>')
        .openPopup();
</script>
</body>

</body>
</html>